.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;

	.logo-container {
		height: 100%;
		padding: 25px;
		display: flex;
		align-items: center;
	}

	.options {
		display: flex;
		align-items: center;
		cursor: pointer;

		.option {
			padding: 10px 15px;
		}
	}
}
